<div class="rating">
	<div class="rating-stars">
		<%
			case @place.rating
			when 0..17:
				5.times { image_tag "icons/small/silk/bullet_yellow.png", :alt => "o" }
			when 18..35:
				1.times { image_tag "icons/small/silk/star.png", :alt => "*" }
				4.times { image_tag "icons/small/silk/bullet_yellow.png", :alt => "o" }
			when 36..53:
				2.times { image_tag "icons/small/silk/star.png", :alt => "*" }
				3.times { image_tag "icons/small/silk/bullet_yellow.png", :alt => "o" }
			when 54..71:
				3.times { image_tag "icons/small/silk/star.png", :alt => "*" }
				2.times { image_tag "icons/small/silk/bullet_yellow.png", :alt => "o" }
			when 72..89:
				4.times { image_tag "icons/small/silk/star.png", :alt => "*" }
				1.times { image_tag "icons/small/silk/bullet_yellow.png", :alt => "o" }
			when 89..100:
				5.times { image_tag "icons/small/silk/star.png", :alt => "*" }
			end
		%>
	</div>
	<div class="rating-controls">
		<dl>
			<dt>Likes</dt>
			<dd><%= @place.ratings[:likes].length %></dd>
			<dt>Dislikes</dt>
			<dd><%= @place.ratings[:dislikes].length %></dd>
		</dl>
		<p>What do you think?</p>
		<p>
			<%= link_to image_tag("icons/small/silk/thumb_up.png", :alt => "Like") + " Like",			@place.url(:facebook => true, :action => :like), :class => "button" %>
			<%= link_to image_tag("icons/small/silk/thumb_down.png", :alt => "Dislike") + " Dislike",	@place.url(:facebook => true, :action => :dislike), :class => "button" %>	
		</p>
	</div>
</div>
