<% viewmode = :compact if local_assigns[:viewmode].nil? %>
<% start_item = 0 if local_assigns[:start_item].nil? %>

<% if viewmode == :compact %>
    <li class="<%= cycle("odd", "even") %>">
	<%= link_to "<span class='name'>#{locality.title}</span>", country_region_locality_path(country.id, region.id, locality.id) %>
    </li>
<% end %>
