<% viewmode = :compact if local_assigns[:viewmode].nil? %>

<% if viewmode == :compact %>
    <li class="<%= cycle("odd", "even") %>">
	<%= link_to "<span class='name'>#{locality.title}</span>", country_region_locality_path(country.id, region.id, locality.id) %>
    </li>
<% elsif viewmode == :full %>
    <ul class="feed">
	<%= render :partial => "places/place", :collection => @places, :locals => { :view_mode => :compact, :locality => locality } %>
    </ul>
<% end %>
