<div class="profile-module">
	<h2 class="section-title sectiontop-header"><%= title %></h2>
	<div class="sectiontop">
		<div class="caption">
			<p>
				<%= caption %>
			</p>
		</div>
		<div class="seeall">
			<p>
				<%= controls %>
			</p>
		</div>
	</div>
	<div class="profile-module-content">
		<%= render :partial => content %>
	</div>
</div>
