<div class="profile-layout">
	<div class="profile-sidebar">
		<div class="profile-sidebar-padding">
			<%= render :partial => sidebar %>
		</div>
	</div>
	<div class="profile-content">
		<div class="profile-content-padding">
			<%= render :partial => content %>
		</div>
	</div>
</div>
