<p>Please enter the username of the user you wish
to add a permission rule for below.</p>
<a href="#" onclick="parent.hideIbox(); return false;">Hide</a>
<a href="#" onclick="top.read_add_perm('1234', 'Test');">Add Test</a>