<% viewmode = :compact if local_assigns[:viewmode].nil? %>

<% if viewmode == :micro %>
	<li><%= link_to "Comments (#{comments.comments.count})", get_comments_path %></li>
<% elsif viewmode == :compact %>
	<%= render :partial => "comment", :locals => { :comment => comments.comments[0] } %>
<% elsif viewmode == :full %>
	<%= render :partial => "comment", :collection => comments.comments %>
<% end %>
