<% viewmode = :compact if local_assigns[:viewmode].nil? %>
<% url = nil if local_assigns[:url].nil? %>

<% if viewmode == :micro %>
	<% if url.nil? %>
		<li>Comments (<%= comments.comments.count %>)</li>
	<% else %>
		<li><%= link_to "Comments (#{comments.comments.count})", url %></li>
	<% end %>
<% elsif viewmode == :compact %>
	<%= render :partial => "comments/comment", :locals => { :comment => comments.comments[0] } %>
<% elsif viewmode == :full %>
	<%= render :partial => "comments/comment", :collection => comments.comments %>
<% end %>
