<% if !minifeed.nil? && minifeed.length > 0 %>
	<div class="minifeed">
		<% current_day = "" %>
		<% minifeed.each do |feeditem| %>
			<% if current_day != feeditem[0].strftime("%b %e") %>
				<% current_day = feeditem[0].strftime("%b %e") %>
				<%= render :partial => "facebook/common/minifeed_date_divider", :locals => { :date => current_day } %>
			<% end %>
			<div class="item">
				<%= feeditem[1] %> <span class="time"><%= feeditem[0].strftime("%I:%M%p").downcase %></span>
			</div>
		<% end %>
	</div>
<% end %>
