<% if !@recommendations.nil? && @recommendations.length > 0 %>
	<div class="recommendations">
		<% @recommendations.each do |r| %>
			<% if r.recommended_item.path_of_partial != nil %>
				<div class="recommendation">
					<%= render :partial => r.recommended_item.path_of_partial, :locals => { :object => r.recommended_item } %>
					<%
						users = []
						r.users_recommending.each do |u|
							users << "<fb:name uid='#{u.facebook_uid}' linked='true' ifcantsee='a user' />"
						end

						# add "the community" if popularity was taken into account (though more than the number of users
						# recommending, because they're included in the community)
						users << "the community" if r.popularity > r.users_recommending.length
					%>
					<div class="via">via <%= users[0..4].to_sentence %></div>
				</div>
			<% end %>
		<% end %>
	</div>
<% end %>
