<% if !@recommendations.nil? && @recommendations.length > 0 %>
	<div class="recommendations">
		<% @recommendations.each do |r| %>
			<% if r.recommended_item.path_of_partial != nil %>
				<div class="recommendation">
					<%= render :partial => r.recommended_item.path_of_partial, :locals => { :object => r.recommended_item } %>
				</div>
			<% end %>
		<% end %>
	</div>
<% end %>
