<h1 class="area-title">Home</h1>
<br />
<%#= render :partial => "facebook/common/layout_2col_contentleft", :locals => { :sidebar => "facebook/home/sidebar", :content => "facebook/home/content" } %>
<%= render :partial => "facebook/home/content" %>

