	<% if !@events.nil? && @events.length > 0 %>
		<div class="vcalendar">
			<%= render :partial => "hevent", :collection => @events, :locals => { :micro => false } %>
		</div>
		<div class="clear">
			<br />
			<%= will_paginate @events %>
		</div>
	<% else %>
		<% if params[:show_all] %>
			<p>There are no events.</p>
		<% else %>
			<p>There are no upcoming events. <%= link_to "Show all events", :show_all => 1 %>.</p>
		<% end %>
	<% end %>
