<%= radio_button_tag "recurrence_rate", "yearly", @recurrence_rate_yearly, :id => "recurrence_rate_yearly" %>
	<label for="recurrence_rate_yearly">Annually <span id="recurrence_rate_yearly_next"></span></label><br />
<%= radio_button_tag "recurrence_rate", "monthly", @recurrence_rate_monthly, :id => "recurrence_rate_monthly" %>
	<label for="recurrence_rate_monthly">Monthly <span id="recurrence_rate_monthly_next"></span></label><br />
<%= radio_button_tag "recurrence_rate", "monthly_nth_nday", @recurrence_rate_monthly_nth_nday, :id => "recurrence_rate_monthly_nth_nday" %>
	<label for="recurrence_rate_monthly_nth_nday">Monthly <span id="recurrence_rate_monthly_nth_nday_next"></span></label><br />
<%= radio_button_tag "recurrence_rate", "weekly", @recurrence_rate_weekly, :id => "recurrence_rate_weekly" %>
	<label for="recurrence_rate_weekly">Weekly <span id="recurrence_rate_weekly"></span></label><br />

