html { background: #020202 url("/images/mobile_desktop_bg.jpg") repeat-x top center; }
body {
    width: 320px;
    margin: 1% auto;
    -moz-box-shadow: 5px 5px 5px rgba(10,10,10,0.50);
    -webkit-box-shadow: 5px 5px 5px rgba(10,10,10,0.50);
    box-shadow: 5px 5px 5px rgba(10,10,10,0.50);
}