html { background: #020202 url("/images/mobile_desktop_bg.jpg") repeat-x top center; }
html.locality-bfff92eb-d35c-4df3-ae8f-01e68c3f8fc6 { background: #010103 url("/images/austin_skyline.jpg") repeat-x top center; }
body {
    width: 320px;
    margin: 1% auto;
    -moz-box-shadow: 5px 5px 5px rgba(10,10,10,0.50);
    -webkit-box-shadow: 5px 5px 5px rgba(10,10,10,0.50);
    box-shadow: 5px 5px 5px rgba(10,10,10,0.50);
}
.searchbox form {
    width: 278px; /* 320 - left padding - right padding - some spacing */
}
.searchbox input[type="text"] {
    width: 278px;
}

/* sidebar stuff */
.desktop-sidebar {
    display: block;
    position: absolute;
    width: 200px;
    color: #fff;
    top: 0;
}
#desktop-sidebar-left	{ left: -220px; }
#desktop-sidebar-right	{ left: 330px; }

.desktop-sidebar div,
.desktop-sidebar a.logo {
    background-color: rgba(0,0,0,0.5);
    border-radius: 3px;
    width: 200px;
    margin-top: 1em;
    padding: 5px;
    -moz-box-shadow: 2px 2px 2px rgba(10,10,10,0.25);
    -webkit-box-shadow: 2px 2px 2px rgba(10,10,10,0.25);
    box-shadow: 2px 2px 2px rgba(10,10,10,0.25);
}
.desktop-sidebar div:first-child { margin-top: 0; }
.desktop-sidebar div.dim {
    background-color: rgba(0,0,0,0.6);
    -moz-box-shadow: 2px 2px 2px rgba(10,10,10,0.1);
    -webkit-box-shadow: 2px 2px 2px rgba(10,10,10,0.1);
    box-shadow: 2px 2px 2px rgba(10,10,10,0.1);
}

.desktop-sidebar a.logo {
    display: block;
    margin-top: 0;
    background: rgba(178,223,218,0.9) url("/images/desktop_logo.png") no-repeat center center;
    width: 200px;
    height: 62px;
    -moz-box-shadow: 2px 2px 2px rgba(10,10,10,0.5);
    -webkit-box-shadow: 2px 2px 2px rgba(10,10,10,0.5);
    box-shadow: 2px 2px 2px rgba(10,10,10,0.5);
}
.desktop-sidebar a.logo span { display: none; }

.desktop-sidebar h1 { font-size: 12pt; font-weight: bold; color: #fff; margin: 0 0 0.25em 0; padding: 0; }
.desktop-sidebar ul, .desktop-sidebar li { list-style: none; }
.desktop-sidebar li { padding: 0.2em 0; font-size: 8pt; }
.desktop-sidebar a { color: #fff; }
.desktop-sidebar .dim, .desktop-sidebar .dim a { font-weight: normal; font-size: 8pt; color: rgba(255,255,255,0.5); }
.desktop-sidebar div.dim .dim, .desktop-sidebar div.dim .dim a { font-weight: normal; font-size: 8pt; color: rgba(255,255,255,0.4); }