#topbar {
    height: 32px;
}
#title {
    line-height: 32px;
    height: 32px;
    font-size: 13pt;
}
.menu .name {
    max-width: 85%;
}
.checkbox .name {
    max-width: 75%;
}
.radiobutton .name {
    max-width: 75%;
}
#leftnav a, #rightnav a, #leftbutton a, #rightbutton a, #blueleftbutton a, #bluerightbutton a {
    line-height: 24px;
    height: 24px;
}
#leftnav img, #rightnav img {
    margin-top: 4px;
    height: 70%;
}
#leftnav, #leftbutton, #blueleftbutton {
    top: 4px;
}
#rightnav, #rightbutton, #bluerightbutton {
    top: 4px;
}
.musiclist .name {
    max-width:70%
}
.textbox textarea {
    width: 440px;
}
#duobutton a:first-child {
    width: 150px;
}
#tributton a:first-child {
    width: 101px;
}
li.tab-buttons #tributton a:first-child,
li.tab-buttons #duobutton a:first-child {
    width: 150px !important;
}
#duobutton a:last-child {
    width: 150px;
}
#tributton a:last-child {
    width: 101px;
}
li.tab-buttons #tributton a:last-child,
li.tab-buttons #duobutton a:last-child {
    width: 150px !important;
}
#tributton a {
    float: left;
    width: 101px;
}
#tributton .links {
    width: 298px;
}
#duobutton .links {
    width: 298px;
}
li.tab-buttons #tributton a		{ width: 154px !important; }
li.tab-buttons #tributton .links	{ width: 452px !important; }
li.tab-buttons #duobutton .links	{ width: 298px !important; }

#doublead {
    width: 350px!important;
}
#duoselectionbuttons {
    width: 293px;
    height: 24px;
    top: 4px;
}
#triselectionbuttons {
    width: 450px;
    height: 24px;
    top: 4px;
}
#triselectionbuttons a:first-child, #duoselectionbuttons a:first-child {
    width: 150px;
    height: 22px;
    line-height: 22px;
}
#triselectionbuttons a {
    width: 156px;
    height: 22px;
    line-height: 22px;
}
#triselectionbuttons a:last-child, #duoselectionbuttons a:last-child {
    width: 150px;
    height: 22px;
    line-height: 22px;
}
.searchbox form {
    width: 432px;
}
.searchbox input[type="text"] {
    width: 435px;
}
.bigfield input {
    width:455px
}