/* Feed styles on mobile */
.feed .name {
    position: absolute;
    font-size: 18px;
    top: 25px;
    left: 20px;
}
.feed .comment {
    position: absolute;
    top: 10px;
    left: 20px;
    color: #7f7f7f;
}
.feed .number {
    width: 23px;
    display: block;
    float: left;
    height: 42px;
    margin-right: 3px;
    text-align: right;
    line-height: 43px;
}
.feed .numberattending {
    width: 48px;
    float: right;
    display: block;
    height: 42px;
    text-align: center;
    line-height: 43px;
}
.feed .share {
    width: 48px;
    float: right;
    display: block;
    height: 42px;
    text-align: center;
    line-height: 75px;
}
.feed .thumbsup {
    padding: 17px 5px 0 0;
    width: 35px;
    float: right;
    display: block;
    height: 42px;
    text-align: center;
    line-height: 55px;
}
.feed .extras {
    padding: 17px 5px 0 0;
    width: 35px;
    float: right;
    display: block;
    height: 42px;
    text-align: center;
    line-height: 50px;
}
.feed .thumbsdown {
    padding: 17px 5px 0 0;
    width: 35px;
    float: right;
    display: block;
    height: 42px;
    text-align: center;
    line-height: 60px;
}
.feed .comment, .feed .price {
    font-size: 14px;
    color: #7f7f7f;
    display: block;
    width: 60%;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.feed .foursqtitle {
    position: absolute;
    top: 165px;
    left: 20px;
    color: #7f7f7f;
}
.feed .tips {
    position: relative;
    font-color:white;
    top: 5px;
    left: 5px;
}
.feed .tipgiver {
    color: #727E8A;
}
.feed .price {
    position: absolute;
    top: 29px;
    right: 26px;
    text-shadow: #eeeeee 0 1px 0;
    text-align: right;
    color: #3b3b3b;
}
.feed .place {
    left: 20px;
    top: 46px;
    color: #727E8A;
}
.feed .time {
    color: #E7902B;
}
.feed ul {
    padding: 0;
    margin: 0;
}
.feed li:nth-child(even) {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#414041), color-stop(3%, rgba(45,45,45,0.2)), to(rgba(45,45,45,0.2)))
}
.feed li:nth-child(odd) {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#414041), color-stop(3%, rgba(50,50,50,0.4)), to(rgba(50,50,50,0.4)))
}
.feed>section li {
    list-style: none;
    width: auto;
    position: relative;
    height: 75px;
}
.feed>section {
    margin-top: -29px!important;
    background: -webkit-gradient(radial, 50% -70, 0, 50% 0, 200, from(#444444), to(rgb(13, 13, 13)));
    top: 16px;
}
.feed>section li a {
    text-decoration: none;
    color: white;
    width: 100%!important;
    height: 100%;
    display: block;
}
.feed {
    background-image: none!important;
    background-color: black;
}
.feed span {
    color: white;
    font-weight: bold;
    font-size: 14px;
}
.feed>footer {
    margin-top: 48px!important;
}