#topbar {
    height: 44px;
}
#title {
    line-height: 44px;
    height: 44px;
    font-size: 16pt;
}
#duobutton a:first-child {
    width: 99px;
}
#tributton a:first-child {
    width: 95px;
}
li.tab-buttons #tributton a:first-child,
li.tab-buttons #duobutton a:first-child {
    width: 99px !important;
}
#duobutton a:last-child {
    width: 99px;
}
#tributton a:last-child {
    width: 95px;
}
li.tab-buttons #tributton a:last-child,
li.tab-buttons #duobutton a:last-child {
    width: 99px !important;
}
#tributton a {
    width: 95px;
}
#duobutton .links {
    width: 195px;
}
#tributton .links {
    width: 285px;
}
li.tab-buttons #tributton a	    { width: 106px !important; }
li.tab-buttons #duobutton .links    { width: 195px !important; }
li.tab-buttons #tributton .links    { width: 302px !important; }

#doublead {
    width: 300px!important;
}
#duoselectionbuttons {
    width: 191px;
    height: 30px;
    top: 7px;
}
#triselectionbuttons {
    width: 290px;
    height: 30px;
    top: 7px;
}
#triselectionbuttons a:first-child, #duoselectionbuttons a:first-child {
    width: 99px;
    height: 28px;
    line-height: 28px;
}
#triselectionbuttons a {
    width: 98px;
    height: 28px;
    line-height: 28px;
}
#triselectionbuttons a:last-child, #duoselectionbuttons a:last-child {
    width: 99px;
    height: 28px;
    line-height: 28px;
}
.searchbox form {
    width: 272px;
}
.searchbox input[type="text"] {
    width: 275px;
}
.menu .name {
    max-width: 77%;
}
.checkbox .name {
    max-width: 190px;
}
.radiobutton .name {
    max-width: 190px;
}
#leftnav a, #rightnav a, #leftbutton a, #rightbutton a, #blueleftbutton a, #bluerightbutton a {
    line-height: 30px;
    height: 30px;
}
#leftnav img, #rightnav img {
    margin-top: 4px;
}
#leftnav, #leftbutton, #blueleftbutton {
    top: 7px;
}
#rightnav, #rightbutton, #bluerightbutton {
    top: 7px;
}
.musiclist .name {
    max-width:55%
}
.textbox textarea {
    width: 280px;
}
.bigfield input {
    width:295px
}