/* MACRODECK MASTER STYLESHEET */

/* Palette: Samaha <http://www.colourlovers.com/palette/203494/Samaha>
 * Colors: #235674, #2A7983, #43A793, #6FBE56, #B4D365
 */

html {
	font-family: 'Lucida Grande', 'Bitstream Vera Sans', 'Lucida Sans Unicode', 'Tahoma', 'Verdana', 'Arial', sans-serif;
	background-color: #000305;
	color: #fff;
}

body {
	margin: 0;
	padding: 1em;
}

/* Headers */
h1 {
	padding: 0; 
	margin: 0;
	border-bottom: 5px solid #235674;
	background-image: url(/images/logo.png);
	width: 100%;
	height: 40px;
	background-position: top left;
	background-repeat: no-repeat;
}
h1 span { display: none; }
h2 {
	margin: 0;
	padding: 0;
	color: #B4D365;
	border-bottom: 1px solid #B4D365;
}
h3	{ margin: 0; padding: 0; color: #2A7983; }
h2 .subtitle, h3 .subtitle { font-size: 80%; color: #999; display: block; }

/* Links */
a	{ color: #6FBE56; }
a:hover	{ color: #B4D365; }

/* Menubar */
div.skipnavigation { display: none; }
ul.menubar { color: #B4D365; margin: 0; padding: 0; }
ul.menubar li {
	list-style-type: none;
	float: left;
	margin: 0.1em 0.3em 0.5em 0;
	font-size: 1em;
}
ul.menubar li:after { content: " \2022"; /* bullet */ }
ul.menubar li.last:after { content: ""; }
ul.menubar li a {
	border-bottom: 5px solid transparent;
	text-transform: lowercase;
	color: #B4D365;
	text-decoration: none;
}
ul.menubar li a:hover {	border-bottom: 5px solid #B4D365; }

/* Whole Page */
div#macrodeck {
	width: 600px;
	margin: 0 auto 0 auto;
}

/* Content */
div#middle	{ clear: both; }
div#content	{ clear: both; }

/* Generic styles */
.monospace	{ font-family: 'Monaco', 'Courier New', monospace; }
.block		{ display: block; }
.clear		{ clear: both; }
.hide		{ display: none; }
