/* Tables */
td, th {
	/* IE Workaround */
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Tahoma', 'Verdana', 'Arial', sans-serif;
	font-size: 9pt;
}
table {
	border-collapse: collapse;
	border: 0;
	margin: 0;
	padding: 0;
}
th {
	font-weight: bold;
	text-align: left;
	border-bottom: 1px solid #ccc;
	margin: 0;
	padding: 5px;
}
td {
	border-collapse: collapse;
	padding: 5px;
	margin: 0;
	border-bottom: 1px dashed #ccc;
	vertical-align: top;
}
td .name {
	font-weight: bold;
}
td .uuid {
	font-family: 'Bitstream Vera Sans Mono', 'Lucida Console', 'Courier New', monospace;
	font-size: 9pt;
}
td p {
	margin: 0;
	padding: 0;
}
