/* MacroDeck - Top of Page Style */

/* top - contains logo, search, and menu */
#top {
	background-color: #000000;
	height: 5em;
}

#logo {
	margin: 0;
	padding: 15px;
	padding-left: 10px;
	height: 30px;
	float: left;
}

#logo h1 {
	display: block;
	height: 28px;
	width: 161px;
	margin: 0;
	padding: 0;
}

#logo h1 span {
	/* hides the text "MacroDeck" */
	display: none;
}

#logo h1 a {
	display: block;
	border: 0;
	height: 28px;
	width: 161px;
	background-position: bottom left;
	background-image: url(/images/logo.png);
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
}

#top-controls {
	float: left;
	color: #fff;
	padding: 10px;
}
#top-controls a {
	color: #fff;
}

/* usertop - contains the little box that says who you are and such */
#usertop {
	height: 3.5em;
	/* background-color: #ccc; /* this color is temporary and is only for me to figure out wtf i'm doing with the box */
	background-color: #fff;
	background-image: url(/images/usertop-bg-gradient.png);
	background-repeat: repeat-x;
	background-position: top left;
}

#usertop div {
	/* space out from edges of page */
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 0;

	font-size: 0.9em;
	background-image: url(/images/pinstripe.png);
	background-repeat: repeat;
	border: 1px solid #ccc;

	/* space text out from edges of box */
	padding: 5px;
}
