<% @start_item = 0 if @start_item.nil? %>

<% unless request.xhr? %>
    <% if params[:q].nil? %>
	<% content_for :before_content do %>
	    <div class="searchbox">
		    <% form_tag country_region_locality_events_path(@country, @region, @locality), :method => :get do %>
			    <fieldset>
				<input id="q" name="q" placeholder="search" type="text" />
				<input id="submit" type="hidden" />
			    </fieldset>
		    <% end %>
	    </div>
	<% end %>
    <% end %>
<% end %>

<% unless request.xhr? %><ul><% end %>
    <% if !params[:q].nil? || !params[:neighborhood].nil? || !params[:event_type].nil? %>
	<li class="filters">
	    <% unless params[:q].nil? %>
		<%= link_to h(params[:q]), country_region_locality_events_path(@country.id, @region.id, @locality.id, :start_item => nil, :q => nil) %>
	    <% end %>
	    <% unless params[:neighborhood].nil? %>
		<%= link_to h(Neighborhood.get(params[:neighborhood])["title"]), country_region_locality_events_path(@country.id, @region.id, @locality.id, :start_item => nil, :event_type => params[:event_type], :neighborhood => nil) %>
	    <% end %>
	    <% unless params[:event_type].nil? %>
		<%= link_to h(params[:event_type]), country_region_locality_events_path(@country.id, @region.id, @locality.id, :start_item => nil, :event_type => nil, :neighborhood => params[:neighborhood]) %>
	    <% end %>
	</li>
    <% end %>
    <%= render :partial => "event", :collection => @events, :locals => { :view_mode => :compact, :country => @country, :region => @region, :locality => @locality, :place => @place } %>
    <% if params[:event_type].nil? && params[:q].nil? && @events_count > (@start_item + 10) %>
	<li class="alt small nextbtn">
	    <% link_to country_region_locality_events_path(@country.id, @region.id, @locality.id, :start_item => (@start_item + 10), :neighborhood => params[:neighborhood], :upupdowndownleftrightleftrightbastart => params[:upupdowndownleftrightleftrightbastart]), :class => "noeffect" do %>
		<span class="name">Next Page</span>
		<span class="arrow"></span>
	    <% end %>
	</li>
    <% end %>
<% unless request.xhr? %></ul><% end %>