<h2>Create Blog Post</h2>
<%= form_tag({ :controller => "test", :action => "create_blog_post" }) %>
<fieldset>
	<legend>Create Blog Post</legend>
	<p>Post In: <code><%= BLOG_MACRODECK %></code> (MacroDeck Dev Blog)
	<p>Post As: <%= select_tag "postas", '<option value="' + USER_CSAKON + '">csakon</option><option value="' + USER_ZIGGYTHEHAMSTER + '">ziggythehamster</option>' %></p>
	<p>Post Title: <%= text_field_tag "posttitle", nil, :size => 40 %></p>
	<p>Post Summary (optional):<br />
	<%= text_area_tag "postdescription", nil, :size => "40x5" %></p>
	<p>Post Content:<br />
	<%= text_area_tag "postcontent", nil, :size => "80x10" %></p>
	<p><%= submit_tag "Post" %></p>
</fieldset>
<%= end_form_tag %>