<h2>MacroDeck Development Test</h2>
<p>
<%= link_to "Show Loaded Services", { :controller => "test", :action => "show_loaded_services" } %><br />
<%= link_to "Create Blog", { :controller => "test", :action => "create_blog" } %><br />
<%= link_to "Create Blog Post", { :controller => "test", :action => "create_blog_post" } %><br />
<br />
<%= link_to "Create User", { :controller => "test", :action => "create_user" } %><br />
</p>
