<% @menu_content = '<a href="/">Home</a>' %>
<% @summary = build_summary("", "MacroDeck Accounts") %>
<p>Welcome to the MacroDeck account system. You may <%= link_to "login", { :action => "login" } %> or
<%= link_to "register", { :action => "register" } %>.</p>