<% @menu_content = '<a href="/">Home</a>' %>
<% @summary = build_summary("", "Successfully Logged In!") %>
<p>You have been successfully logged in.</p>
<p>DEBUG NOTICE: This should redirect to /user/name/home/ but that feature is not coded yet!</p>
<p>AuthCode: <%= @authcode[:authcode] %></p>