<% @menu_content = '<a href="/">Home</a>' %>
<% @summary = build_summary("Registration complete!", "Create an Account") %>
<p>Congratulations! Your account with the username of <strong><%= @username %></strong>
has successfully been created. You will need to verify your e-mail address before
you can login. You will receive an e-mail soon that contains instructions on how to
verify your e-mail address.</p>