<% @menu_content = '<a href="/">Home</a>' %>
<% @summary = build_summary("", "Already Logged In!") %>
<p class="error">You're already logged in! If you want to login as someone else, <%= link_to "logout", { :controller => "account", :action => "logout" } %> first!</p>