<% @menu_content = '<a href="/">Home</a>' %>
<% @summary = build_summary("", "Error!") %>
<p class="error">You have specified an unrecognized user or group. It's possible this user or group used to exist but no longer does.</p>