<% @menu_content = '<a href="/">Home</a>' %>
<% @summary = build_summary("", "Invalid Component") %>
<p class="error">You are attempting to view, edit, or delete a component which doesn't exist. Please check your spelling and
capitalization and try again. If this error persists, this component might have been deleted.</p>