/******************************************/
/* MacroDeck AccountController Stylesheet */
/******************************************/
/* This stylesheet contains definitions   */
/* for specifics in AccountController.    */
/******************************************/

/* #get_data */
#data-box {
	width: 100%;
}
#data-nodes {
	width: 20%;
	float: left;
}
#data-info {
	width: 80%;
	float: left;
}
