<% @menu_content = '<a href="/">Home</a>' %>
<% @summary = build_summary("", "Invalid Environment") %>
<p class="error">You are attempting to view, edit, or delete an environment which does not exist. It may have been deleted.</p>