<% @menu_content = '<a href="/">Home</a>' %>
<% @summary = build_summary("", "Invalid Post") %>
<p class="error">You are attempting to view, edit, or delete a post which does not exist. It may have been deleted.</p>