<% @menu_content = '<a href="/">Home</a>' %>
<% @summary = build_summary("", "Invalid Widget") %>
<p class="error">You are attempting to view, edit, or delete a widget which does not exist. The widget may have been deleted.</p>