<%= render :partial => "city", :locals => { :viewmode => :full, :city => @city } %>

<div class="two-column">
	<div class="column">
		<h3>Upcoming Events</h3>
		<ol class="feed">
			<%= render :partial => "events/event", :collection => @city.upcoming_events %>
		</ol>
	</div>
	<div class="column">
		<h3>Interesting Places</h3>
	</div>
</div>
