
	<fb:dashboard>
		<fb:action href="/macrodeckplaces/">Home</fb:action>
		<fb:action href="/macrodeckplaces/browse">Browse Places</fb:action>
		<fb:action href="/macrodeckplaces/browse/popular">Popular Places</fb:action>
		<fb:create-button href="/macrodeckplaces/create">Create a Place</fb:create-button>
	</fb:dashboard>
