
	<fb:dashboard>
		<fb:action href="/macrodeckplaces/">Home</fb:action>
		<fb:action href="/macrodeckplaces/browse/all/">Browse Places</fb:action>
		<fb:action href="/macrodeckplaces/browse/popular/">Popular Places</fb:action>
		<!-- TODO: Create should not appear unless you can create something there -->
		<!-- TODO: Create should also include @country, @state, and @city -->
		<fb:create-button href="/macrodeckplaces/create/">Create a Place</fb:create-button>
	</fb:dashboard>
