	<div class="photo">
		<% img = flickr_photo.sizes("Medium") %>
		<%= image_tag(img["source"], :alt => flickr_photo.title, :title => flickr_photo.title) %>
		<h2 class="section-title"><%= flickr_photo.title %></h2>
		<p><%= flickr_photo.description %></p>
	</div>

	<p><%= link_to "Back", params.merge({ :photo => nil }) %><br />
		<%= link_to "Select This Photo", params.merge({ :select => "1" }) %></p>
