<% if @place.calendar.upcoming_events != nil && @place.calendar.upcoming_events.length > 0 %>
	<br />
	<div class="vcalendar">
		<%= render :partial => "facebook_events/hevent", :collection => @place.calendar.upcoming_events[0..10], :locals => { :micro => false } %>
	</div>
<% else %>
	<p>This place has no upcoming events. If you know about any,
	<%= link_to "add them", fbplaces_url(:action => :view, :country => @country.url_part, :state => @state.url_part, :city => @city.url_part, :place => @place.url_part, :place_action => :create_event) %>!</p>
<% end %>
