<br />
<div class="dont-eat-the-popplers">
	<a href="http://www.macrodeck.com/">
		<%= image_tag "#{PLACES_BASEURL}/images/places/powered_by.png", :alt => "Powered by MacroDeck", :title => "Powered by MacroDeck" %>
		Places is powered by MacroDeck. Click here to learn more.
	</a>
</div>
<br />
