<style type="text/css">
	.column h1 {
		font-size: 8pt;
		color: #000;
		border-bottom: 1px solid #ccc;
		font-weight: bold;
	}
	.column h1 span {
		font-size: 8pt;
		color: #6d84b4;
		font-weight: normal;
	}
</style>
