<style type="text/css">
	.columns {
		width: 100%;
		padding: 5px;
		margin: 0;
	}
	.column {
		width: auto;
		padding: 5px;
		margin: 0;
	}
	.column h1 {
		font-size: 9pt;
		color: #000;
		border-bottom: 1px solid #ccc;
		font-weight: bold;
	}
	.column h1 span {
		font-size: 9pt;
		color: #6d84b4;
		font-weight: normal;
	}
</style>
