<fb:fbml>

	<%= render :partial => "style" %>

	<%= render :partial => "dashboard" %>
	
	<%= render :partial => "tabs" %>

	<h1 class="area-title">Friends' Places</h1>
	<p>Our apologies! We are working dilligently to create this feature.</p>
</fb:fbml>
