<fb:fbml>

	<%= render :partial => "style" %>

	<%= render :partial => "dashboard" %>
	
	<%= render :partial => "tabs" %>

	<div class="content">
		<div class="breadcrumbs">
			<%= link_to "Browse", "/macrodeckplaces/browse/" %> / 
		</div>
		<h1 class="area-title"><%= @country.title %></h1>
		<ul>
			<% @states.each do |state| %>
				<li><%= link_to state.title, "/macrodeckplaces/browse/us/#{state.url_part}/" %></li>
			<% end %>
		</ul>
	</div>
</fb:fbml>
