<fb:fbml>

	<%= render :partial => "style" %>

	<%= render :partial => "dashboard" %>

	<%= render :partial => "tabs" %>

	<div class="content">
		<p>Click on a photo to select it.</p>
		<%= render :partial => "flickr_photos", :locals => { :flickr_photos => @photos } %>
	</div>
</fb:fbml>
