<fb:fbml>

	<%= render :partial => "style" %>

	<%= render :partial => "dashboard" %>

	<%= render :partial => "tabs" %>

	<p>Debugging photos</p>
	<% @photos.each do |photo| %>
		<li><%= image_tag(photo.source("Thumbnail"), :alt => photo.title, :title => photo.title) %></li>
	<% end %>

	<%= will_paginate @photos %>
</fb:fbml>
