/* MacroDeck Facebook Applications */
/* Photo styles (flickr) */

/* flickr photos */
.photos { clear: both; margin-left: auto; margin-right: auto; text-align: center; width: 520px; }
.photos .photo { float: left; padding: 5px; border: 1px solid #3b5998; width: 150px; height: 150px; margin: 5px; }
.photo img.tall { display: block; height: 128px; margin-left: auto; margin-right: auto; text-align: center; }
.photo img.large-tall { display: block; height: 450px; margin-left: auto; margin-right: auto; text-align: center; }
.photo img.wide { display: block; width: 128px; margin-left: auto; margin-right: auto; text-align: center; }
.photo img.large-wide { display: block; width: 450px; margin-left: auto; margin-right: auto; text-align: center; }
.photo img.fullsize { display: block; margin-left: auto; margin-right: auto; text-align: center; }
.photo p { padding: 0; margin: 0; }
