/* MacroDeck Facebook Applications */
/* Places - Welcome page stylesheet */

.get-started { padding: 5px; margin-bottom: 5px; border: 1px solid #d8dfea; background-color: #f7f7f7; }
.get-started h2 { font-size: 8pt; }
.get-started h1 { font-size: 8pt; }
.get-started a { padding-right: 5px; }
.get-started p { margin: 0; padding: 0; }
