/* MacroDeck Facebook Applications */
/* Places stylesheet */

/* view place styles */
ul.features { margin: 0; padding: 0; }
ul.features li { list-style-type: none; padding-top: 1px; padding-bottom: 1px; }
ul.features li span { padding-left: 3px; }

/* view/browse city */
.places .place { clear: both; padding-bottom: 5px; padding-top: 5px; }
.places .place img { display: block; float: left; width: 64px; }
.places .place div { float: left; width: 70%; }
.places .place div div { padding: 5px; }
.places .place div div a { font-weight: bold; }
.places .place div div span.description { color: #000; }
.places .place div div span.address { color: #999; }

.patrons img { margin: 3px; border: 1px solid #000; }
