/* Ratings stylesheet */
.rating											{ width: 50%; float: left; }
.rating p										{ text-align: center; }
.rating .rating-sparkline						{ padding: 5px; text-align: center; height: 45px; }
.rating .rating-sparkline h3					{ margin: 0; padding: 0; font-weight: bold; font-size: 8pt; text-align: center; }
.rating .rating-controls						{ padding: 5px; text-align: center; }
.rating .rating-controls .result-like			{ padding: 5px; border: 1px solid #91d638; background-color: #f2fce5; height: 150px; }
.rating .rating-controls .result-dislike		{ padding: 5px; border: 1px solid #d85e2a; background-color: #f4e6e0; height: 150px; }

.experience										{ width: 50%; float: left; }
.experience p									{ text-align: center; }
.experience .rating-sparkline					{ padding: 5px; text-align: center; height: 45px; }
.experience .rating-sparkline h3				{ margin: 0; padding: 0; font-weight: bold; font-size: 8pt; text-align: center; }
.experience .rating-controls					{ padding: 5px; text-align: center; }
.experience .rating-controls .result-good		{ padding: 5px; border: 1px solid #91d638; background-color: #f2fce5; height: 150px; }
.experience .rating-controls .result-bad		{ padding: 5px; border: 1px solid #d85e2a; background-color: #f4e6e0; height: 150px; }
