.recommendations div.recommendation						{ width: 50%; float: left; }
.recommendations div.recommendation div.vcard			{ padding: 3px; }
.recommendations div.recommendation div.vcard div.hide	{ display: block !important; }
.recommendations div.recommendation div.vcard .fn		{ display: inline; font-weight: bold; } /* show title */
.recommendations div.recommendation div.vcard .adr		{ color: #999; }
.recommendations div.recommendation div.vcard .note		{ display: none; }
