.search .result			{ border: 1px solid #ccc; margin-bottom: 5px; background-color: #eee; padding: 5px; }
.search .result .highlight	{ font-weight: bold; color: #235674; border-bottom: 1px dashed #235674; } 

.search .result .top .title { float: left; width: 50%; font-weight: bold; }
.search .result .top .type  { float: left; width: 50%; text-align: right; }
.search .result .top		{ margin-bottom: 3px; padding-bottom: 3px; border-bottom: 1px dotted #ccc; height: 16px; }

.search .result .adr		{ color: #999; }

/* Data type specific color-coding */
.search div.result-Place	{ border: 1px solid #235674; background-color: #E6EEF2; } 
.search div.result-Place .top	{ border-bottom: 1px dotted #235674; }
.search div.result-Event	{ border: 1px solid #6FBE56; background-color: #ECF5E9; }
.search div.result-Event .top	{ border-bottom: 1px dotted #6FBE56; }
.search div.result-Comment	{ border: 1px solid #732260; background-color: #F2EDF1; }
.search div.result-Comment .top	{ border-bottom: 1px dotted #732260; }
