<div class="module">
	<h2><%= title %></h2>
	<div class="module-top">
		<div class="caption">
			<p>
				<%= caption %>
			</p>
		</div>
		<div class="controls">
			<p>
				<%= controls %>
			</p>
		</div>
	</div>
	<div class="module-content">
		<%= render :partial => content %>
	</div>
</div>
