<div class="layout-2col">
	<div class="content">
		<div class="padding">
			<%= render :partial => content %>
		</div>
	</div>
	<div class="sidebar">
		<div class="padding">
			<%= render :partial => sidebar %>
		</div>
	</div>
</div>
