<div class="module">
	<h2><%= title %></h2>
	<div class="module-top">
		<div class="caption">
			<p>
				<% begin %>
					<%= caption %>
				<% rescue %>
					<!-- caption not specified -->
				<% end %>
			</p>
		</div>
		<div class="controls">
			<p>
				<% begin %>
					<%= controls %>
				<% rescue %>
					<!-- controls not specified -->
				<% end %>
			</p>
		</div>
	</div>
	<div class="module-content">
		<%= render :partial => content %>
	</div>
</div>
