<% @start_item = 0 if @start_item.nil? %>

<ul>
    <% if !params[:fare].nil? || !params[:neighborhood].nil? || !params[:q].nil? %>
	<li class="filters">
	    <% unless params[:fare].nil? %>
		<%= link_to h(params[:fare]), country_region_locality_places_path(@country.id, @region.id, @locality.id, :start_item => params[:start_item], :fare => nil, :neighborhood => params[:neighborhood]) %>
	    <% end %>
	    <% unless params[:neighborhood].nil? %>
		<%= link_to h(Neighborhood.get(params[:neighborhood])["title"]), country_region_locality_places_path(@country.id, @region.id, @locality.id, :start_item => params[:start_item], :fare => params[:fare], :neighborhood => nil) %>
	    <% end %>
	    <% unless params[:q].nil? %>
		<%= link_to h(params[:q]), country_region_locality_places_path(@country.id, @region.id, @locality.id, :start_item => nil, :q => nil) %>
	    <% end %>
	</li>
    <% end %>
    <% if @start_item > 0 %>
	<li class="alt small">
	    <% link_to country_region_locality_places_path(@country.id, @region.id, @locality.id, :start_item => (@start_item - 10), :fare => params[:fare], :neighborhood => params[:neighborhood], :q => params[:q]) do %>
		<span class="name">Previous Page</span>
		<span class="arrow"></span>
	    <% end %>
	</li>
    <% end %>
    <%= render :partial => "place", :collection => @places, :locals => { :view_mode => :compact, :country => @country, :region => @region, :locality => @locality } %>
    <% if @places_count > (@start_item + 10) %>
	<li class="alt small">
	    <% link_to country_region_locality_places_path(@country.id, @region.id, @locality.id, :start_item => (@start_item + 10), :fare => params[:fare], :neighborhood => params[:neighborhood], :q => params[:q]) do %>
		<span class="name">Next Page</span>
		<span class="arrow"></span>
	    <% end %>
	</li>
    <% end %>
</ul>