<div class="skipnavigation">
	<%= link_to "Skip navigation", "#content" %>
</div>
<ul class="menubar">
	<li><%= link_to "Home", "http://www.macrodeck.com/" %></li>
	<li><%= link_to "Places", "http://places.macrodeck.com/" %></li>
	<li><%= link_to "Events", "http://events.macrodeck.com/" %></li>
	<li><%= link_to "Platform", "http://developer.macrodeck.com/" %></li>
</ul>
