<div id="top">
	<div id="logo"><h1><span>MacroDeck: Tools to make you more human</span></h1></div>
	<div id="menu">
	<% if @menu_content != nil %>
		<%= @menu_content %>
	<% else %>
		&nbsp; <!-- space so the thing lays out correctly -->
	<% end %>
	</div>
	<% if @summary != nil %>
	<div id="summary">
		<%= @summary %>
	</div>
	<% end %>
</div>