<div id="top">
	<div id="logo"><h1><span>MacroDeck: Tools to make you more human</span></h1></div>
	<div id="menu">
	<a href="/">Home</a>
	<a href="/group/macrodeck/blog/">Development Blog</a>
	</div>
</div>