<div id="top">
	<div id="logo"><h1><a href="/"><span>MacroDeck</span></a></h1></div>
	<div id="top-controls">
		<div id="top-search">
			[______________________] [Search]
		</div>
		<div id="top-menu">
			<a href="#">home</a> | <a href="#">members</a> | <a href="#">groups</a> | <a href="#">stuff</a>
		</div>
	</div>
</div>
<div id="usertop">
	<div>
		Welcome, Guest! Have an account? <a href="#">Log in now</a>. <a href="#">Don't have an account?</a>
	</div>
</div>
