<fb:fbml>
	<%= render :partial => "facebook_places/style" %>

	<%= render :partial => "facebook/common/dashboard" %>
	
	<%= render :partial => "facebook/common/tabs" %>
	
	<div class="content">
		<%= @content_for_layout %>
	</div>

</fb:fbml>
