<fb:fbml>

	<%
	# TODO: Don't render partials from other controllers (not a problem _yet_) 
	%>
	<%= render :partial => "facebook_places/style" %>

	<%= render :partial => "facebook_places/dashboard" %>
	
	<%= render :partial => "facebook_places/tabs" %>

	<%= @content_for_layout %>

</fb:fbml>
