<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<meta content="minimum-scale=1.0, width=device-width, maximum-scale=0.6667, user-scalable=no" name="viewport" />
<link href="css/restlessnapkin.css" rel="stylesheet" media="screen" type="text/css" />
<script src="javascript/functions.js" type="text/javascript"></script>
<title>restless napkin</title>
<meta content="keyword1,keyword2,keyword3" name="keywords" />
<meta content="Description of your page" name="description" />
</head>

<body class="feed">
	
	<div id="topbar" class="black"><div id="title">Happenings</div>
		<div id="rightbutton"> 
			<a href="placefeed.html">Places</a> </div> 
		</div>
	</div>
	
<div id="content">
	<ul>
		<li><span class="comment">Drink</span><span class="auto"></span><span class="name">$1 beers</span><span class='place'>Cain and Abel's<span class='time'> 7p-close </span></span><span class="share"><a class="noeffect" href="mailto:YourFriends@AddThemHere.com?subject=$5 burgers | Cain and Abel's at 7p&amp;body=Hey, Who wants to go with me to Cain and Abel's for $1 beers on Tuesday?  Starts at 7p and goes till close."><img src="/icons/mail_small.png"></a></span></li>
		
		<li><span class="comment">Drink</span><span class="auto"></span><span class="name">$4 Happy Hour</span><span class='place'>TNT (Tacos and Tequila)<span class='time'> 4p-7p </span></span><span class="share"><a class="noeffect" href="mailto:YourFriends@AddThemHere.com?subject=$4 Happy Hour | TNT (Tacos and Tequila) at 4p&amp;body=Hey, Who wants to go with me to TNT (Tacos and Tequila) for $4 Happy Hour?  Starts at 4p and goes till 7p."><img src="/icons/mail_small.png"></a></span></li>
				
		<li><span class="comment">Food</span><span class="auto"></span><span class="name">Happy Hour Menu</span><span class='place'>Maiko<span class='time'> 5p-close </span></span><span class="share"><a class="noeffect" href="mailto:YourFriends@AddThemHere.com?subject=Happy Hour Menu | Maiko at 5p on Sunday&amp;body=Hey, Who wants to go with me to Maiko for Happy Hour Menu?  Starts at 5p and goes till close."><img src="/icons/mail_small.png"></a></span></li>
		
		<li><span class="comment">Food</span><span class="auto"></span><span class="name">$5 Menu All Night</span><span class='place'>Sullivan's<span class='time'> 5p-close </span></span><span class="share"><a class="noeffect" href="mailto:YourFriends@AddThemHere.com?subject=$5 Menu All Night | Sullivan's at 5p on Thursday&amp;body=Hey, Who wants to go with me to Sullivan's for $5 Menu All Night?  Starts at 5p and goes till close."><img src="/icons/mail_small.png"></a></span></li>
		
		<li><span class="comment">Food and Drink</span><span class="auto"></span><span class="name">$8 Select Tapas and Drinks</span><span class='place'>Malaga<span class='time'> 5p-7p </span></span><span class="share"><a class="noeffect" href="mailto:YourFriends@AddThemHere.com?subject=$8 Select Tapas and Drinks | Malaga at 5p&amp;body=Hey, Who wants to go with me to Malaga for $8 Select Tapas and Drinks?  Starts at 5p and goes till 7p."><img src="/icons/mail_small.png"></a></span></li>
		
		<li><span class="comment">Food</span><span class="auto"></span><span class="name">$5 burgers</span><span class='place'>Abel's on the Lake<span class='time'> 5p-close </span></span><span class="share"><a class="noeffect" href="mailto:YourFriends@AddThemHere.com?subject=$5 burgers | Abel's on the Lake at 5p&amp;body=Hey, Who wants to go with me to Abel's on the Lake for $5 burgers on Monday?  Starts at 5p and goes till close."><img src="/icons/mail_small.png"></a></span></li>
		
	</ul>
</div>

<div id="footer">
<a class="noeffect" href="http://iamthewanderer.com">i am the wanderer</a>
</div>

</body>

</html>
